**/**/__pycache__/*
.vscode/
**/**/.ruff_cache
**/**/*.log
.env
.*.env
*.bak
.aider*
.coverage
conversation-*.md
desktop.ini
weather.env
weather_app.log
weather_app.log.json
**/**/venv/**
**/**/.venv/**
MagicMock/
